@model IEnumerable<Quiver.Models.EmpresaRowVM>

<div id="tabela" tabindex="0" style="overflow: hidden; outline: none;" onload="loadButtons();">
    <div class="table-responsive" tabindex="0" style="overflow: hidden; outline: none;">
        <table id="data-table-command" class="table table-striped table-vmiddle" aria-busy="false">
            <thead>
                <tr>
                    <th data-column-id="id" data-type="numeric" data-visible="false">ID</th>
                    <th data-column-id="CNPJ">CNPJ</th>
                    <th data-column-id="Nome">Nome</th>
                    <th data-column-id="Situacao">Situacao</th>
                    <th data-column-id="LimiteLicencas">Limite de Licenças</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in @Model)
                {
                    <tr>
                        <td> @row.Id</td>
                        <td> @row.Cnpj</td>
                        <td> @row.Nome</td>
                        <td> @row.Situacao</td>
                        <td> @row.LimiteLicencas</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Custom/empresa.js"></script>
}