@model  Quiver.Models.quantitativoAvaliacoesDashboard


<div id="avaliacoes-sumario">

    <div class="row linha-margin-0 m-b-10">

        <div class="block-header col-lg-12  m-b-10">
            <h2>
                Informativo sobre as inspeções.
                <button class=" help" data-toggle="modal" data-target="#modalHelpAvaliacoes">?</button>

            </h2>
        </div>

        <div class="col-md-12 col-xs-12 col-lg-4 m-b-5 text-right">
            <div class="dados-avaliacoes  dados-verde z-depth-1 p-t-5 p-b-5">
                <small>Inspeções finalizadas</small>
                <h1 class="m-0 f-400" id="avaliacoes-finalizadas"> @Model.QtdFinalizadas </h1>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 col-lg-4 m-b-5 text-right">
            <div class="dados-avaliacoes dados-azul  z-depth-1 p-t-5 p-b-5">
                <small>Inspeções em andamento</small>
                <h1 class="m-0 f-400" id="avaliacoes-andamentos">  @Model.QtdAndamentos</h1>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 col-lg-4 m-b-5 text-right">
            <div class="dados-avaliacoes  dados-vermelho z-depth-1 p-t-5 p-b-5">
                <small>Inspeções atrasadas</small>
                <h1 class="m-0 f-400" id="avaliacoes-atrasadas"> @Model.QtdAtrasadas</h1>
            </div>
        </div>
    </div>


    <div class="row linha-margin-0 m-b-20">
        <div class="block-header col-lg-12  m-b-10">
            <h2>
                Informativo sobre as inspeções finalizadas.
                <button class=" help" data-toggle="modal" data-target="#modalHelpAvaliacoesFinalizadas">?</button>
            </h2>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-3 m-b-5 text-right">
            <div class="dados-avaliacoes  dados-laranja z-depth-1 p-t-5 p-b-5">
                <small>Finalizadas Agendadas</small>
                <h3 class="m-0 f-400"> @Model.QtdAgendadas</h3>
            </div>
        </div>

        <div class="col-md-6 col-xs-6 col-lg-3 m-b-5 text-right">
            <div class="dados-avaliacoes  dados-purpura z-depth-1 p-t-5 p-b-5">
                <small>Finalizadas Não Agendadas</small>
                <h3 class="m-0 f-400"> @Model.QtdNaoAgendadas</h3>
            </div>
        </div>


        <div class="col-md-6 col-xs-6 col-lg-3 m-b-5 text-right">
            <div class="dados-avaliacoes dados-indigo z-depth-1 p-t-5 p-b-5">
                <small>Finalizadas Conformes</small>
                <h3 class="m-0 f-400">  @Model.QtdConformes</h3>
            </div>
        </div>

        <div class="col-md-6 col-xs-6 col-lg-3 m-b-5 text-right">
            <div class="dados-avaliacoes dados-rosa z-depth-1 p-t-5 p-b-5">
                <small>Finalizadas Não Conformes</small>
                <h3 class="m-0 f-400"> @Model.QtdComNaoConformidade</h3>
            </div>
        </div>

    </div>
</div>

@Html.Partial("_HelpInspecoes")

@Html.Partial("_HelpInspecoesFinalizadas")