@model Quiver.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-6">
            <div class="card">
                <div class=" recuperar-card-header">
                    <a href=@Url.Action("Index","Home")>
                        <img src="../Content/img/quiver_logo.png">  <h4>Quiver</h4>
                    </a>
                </div>

                <div class="card-body card-padding p-t-5" style="text-align: left;">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                  
                    <h2 class="text-left m-t-0 p-b-10">Resetar senha</h2>

                    @* Email do usuário *@
                    <div class="form-group fg-float" id="usuario-email">
                        <div class="fg-line">            
                                @Html.TextBoxFor(m => m.Email, new { @class = "input-sm form-control fg-input", @id = "usuario-input-email", @autocomplete = "off", @onkeyup = "validarEmailUsuario()" })
                            <label class="fg-label">Seu email</label>
                        </div>
                        <small class="help-block" id="mensagem-erro-email">Email é obrigatório.</small>
                    </div>

                    @* Senha do usuário *@
                    <div class="form-group fg-float" id="usuario-senha">
                        <div class="fg-line">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-sm form-control fg-input", @id = "usuario-input-senha", @autocomplete = "off", @onkeyup = "validarSenhaUsuario()" })
                            <label class="fg-label">Nova Senha</label>
                        </div>
                        <small class="help-block" id="mensagem-erro-senha">A senha tem que ter no mínimo 8 dígitos.</small>
                    </div>

                    @* Confirmar Senha do usuário *@
                    <div class="form-group fg-float" id="usuario-confirmar-senha">
                        <div class="fg-line">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-sm form-control fg-input", @id = "usuario-input-confirmar-senha", @autocomplete = "off", @onkeyup = "validarConfirmarSenhaUsuario()" })
                            <label class="fg-label">Confirmar Nova Senha</label>
                        </div>
                        <small class="help-block" id="mensagem-erro-confirmar-senha"></small>
                    </div>

                    <div class="form-group p-l-5 m-b-0 ">
                        <div class="text-left">
                            <button type="submit" id="btnResetarSenha" class="btn btn-primary waves-effect" disabled>Resetar senha</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">


    function onSuccess(data) {

        if (data.ok) {

            swal({

                text: "Sua senha foi resetada com sucesso. Qualquer problema no login entre em contato com nossa equipe por e-mail (contato@helloworldsoft.com) ou telefone (79) 99893-9449 .",
                title: "<i class='zmdi zmdi-email animated bounceIn mdc-text-green-700' style='font-size:90px'></i>  <h1 style='margin:0px' class='mdc-text-green-700'>Senha resetada</h1>",
                confirmButtonColor: "#1976D2",
                confirmButtonText: "Confirmar",
                html: true
            }, function () {
                window.location.href = 'http://quiveer.com/Account/Login';

            });

        }



        else {


            swal({


                text: "Sua senha foi resetada com sucesso. Qualquer problema no login entre em contato com nossa equipe por e-mail (contato@helloworldsoft.com) ou telefone (79) 99893-9449 .",
                title: "<i class='zmdi zmdi-email animated bounceIn mdc-text-green-700' style='font-size:90px'></i>  <h1 style='margin:0px' class='mdc-text-green-700'>Senha resetada</h1>",
                confirmButtonColor: "#1976D2",
                confirmButtonText: "Confirmar",
                html: true
            }, function () {
                window.location.href = 'http://quiveer.com/Account/Login';

            });
        }

    }



    /* Validações */


    function validarEmailUsuario() {
        var resposta = validarEmail('usuario-input-email', '#usuario-email', '#mensagem-erro-email');
        habilitarSalvar();
        return resposta;
    }


    function validarSenhaUsuario() {
        var senha = validarTamanhoMinimo('usuario-input-senha', '#usuario-senha', '#mensagem-erro-senha', 8);
        if (senha == true) {
            // Pois caso ele edite a senha o confirmar senha tem que verificar se eles estão iguais
            compararDoisItens('usuario-input-confirmar-senha', '#usuario-confirmar-senha', '#mensagem-erro-confirmar-senha', 'usuario-input-senha');
        }
        habilitarSalvar();
        return senha;
    }

    function validarConfirmarSenhaUsuario() {
        var resposta = compararDoisItens('usuario-input-confirmar-senha', '#usuario-confirmar-senha', '#mensagem-erro-confirmar-senha', 'usuario-input-senha');
        habilitarSalvar();
        return resposta;
    }

    function habilitarSalvar() {
        var email = $("#usuario-email").hasClass("has-success");
        var confirmarSenha = $("#usuario-confirmar-senha").hasClass("has-success");
        var senha = $("#usuario-senha").hasClass("has-success");
       
        if ((email == true ) && (senha == true) && (confirmarSenha == true)) {
            $('#btnResetarSenha').prop("disabled", false);
            return false;
        }
        $('#btnResetarSenha').prop("disabled", true);
        return false;
    }



</script>